body{
  background:black;
  color:white;
  height:750px;
  width:1600px;
  font-family: Arial, sans-serif;
  border:2px solid lightgrey;
  margin: 0px;
  border-bottom:none;
}

#nav{
  padding:20px 50px 20px 50px;
  width:100%;
  height:50px;
  margin-top:-8px;
  margin-bottom:-2px;
  position:relative;
  justify-content: space-between;
  align-items: center;
  text-transform:uppercase;
  padding-left:650px;    
}

#nav1{
  width:800px;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

#nav a{
display:block;
text-decoration: none;
font-weight:25px;
transition:transform 0.4s ease;
letter-spacing: 2px;
font-weight:bold;
background: linear-gradient(to right,darkred,red,rgb(126, 88, 17));
color:transparent;
-webkit-background-clip: text;


}

#nav a:hover{
transform: scale(1.3);
border:0.4px solid rgb(24, 9, 82);

}

#nav ul{
  list-style-type:none;
  position:absolute;
  bottom:10px;
}  

hr {
  border: 0;
  height: 2px;
  background: linear-gradient(to right, #ff5f6d, #ffc371);
  margin:  0;
}
#port{
  position:relative;
  
  text-transform:uppercase;
  right:550px;
  background:linear-gradient(to right,darkblue,rgb(255, 51, 0),rgb(109, 9, 9));
  color:transparent;
  -webkit-background-clip: text;
  letter-spacing:3px;
  z-index:-1;
}
#exp{
  display:flex;
  flex-direction:column;
  padding-left:80px;
  padding-top:5px;
}


#exp h1{
  text-transform:uppercase;
  font-weight: bold;
  color:transparent;
  background:linear-gradient(to right , rgb(87, 42, 134),rgb(60, 45, 161),rgb(83, 34, 175));
  -webkit-background-clip: text;
}
.experience-item{
  padding-left:60px;

}
p {
  color: #3498db;
  font-size: 18px;
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
